* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {


    --first-color: #e60012;
    --second-color: #9d1f1b;
    --third-color: #484848;
    --border-radius: 0.3rem;

}



body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.map_site_section {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.map_site_section li {
    list-style: none;
    font-size: 16px;
    margin: 1.5rem;    
    
    
}

.map_site_section a {
    text-decoration: none;
    color: var(--first-color);
}
.map_site_section h3{
    color: var(--third-color);
}

.map_site_section div{
    border-left:  1px solid rgb(218, 218, 218);
}

.social_section {
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 10rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social_section a:link {
    text-decoration: none;
}

.copyright_section {
    background-color: rgb(36, 36, 36);
    text-align: center;
    padding: 2rem 1rem 114px;
    color: rgb(255, 255, 255);

}

.footer_legal_link {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    justify-self: center;
    color: #fff;
    height: 2rem;
}


.footer_legal_link__main_links a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
}

.footer_legal_link__change_region{
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0px;
}

.certified_logo {
   
    height: 86px;
    width: 64px;
}

.certified_section {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.gaming_system_section {
    width: 50%;
    margin: 0 auto;
}

.gaming_system_section img {
    background-size: cover;
    width: 100%;
}

.general_btn {
    width: 200px;
    background-color: var(--first-color);
    border-radius: var(--border-radius);
    color: #fff;
    border-style: none;
    padding: 1rem 2rem;
    display: flex;
    transition: all .2s ease-in-out;
    justify-content: center;
}

.general_btn:hover {

    width: 200px;
    background-color: var(--second-color);
    border-radius: var(--border-radius);
    color: #fff;
    border-style: none;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;

}

.online_store_section {
    width: 50%;
    margin: 0 auto;
}

.online_store_section img{
    background-size: cover;
    width: 100%;
}

.social_section__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    gap: 2rem;
}

.online_store_section{
    height: 100%;
}

.online_store_section div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.gaming_system_section div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.online_store_section h2{
    padding: 2rem 2rem 2rem 0;
}

.gaming_system_section h2{
    padding: 2rem 2rem 2rem 0;
}

.footer_map_ESRB_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}