.map_site_section{
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
}

.map_site_section li{
    list-style: none;
}

.social_section{
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center end;
    -moz-box-align: center;
}

.copyright_section{
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: #fff;
}

.footer_link_section{
    display: inline-flex;
    justify-content: start;
    color: #fff;
    gap: 1rem;
   
}

.footer_link_section li{
    list-style: none;
    justify-content: start;
    
}

.footer_link_section a {
    text-decoration: none;
    color: #fff;
}